Display Idea<br /><br />

<b>ID </b><%= @idea.id %><br />
<b>Title </b><%= @idea.title %><br />
<b>Description </b><%= @idea.description %><br />

<br/><br/>
<%= link_to "Back to idea list", ideas_path %>
<br/>
<%= link_to "Edit idea", edit_idea_path(@idea) %>

<form method="post" action="<%= idea_path(@idea) %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">Sil</button>
</form>

<%= link_to "Sil", idea_path(@idea), method: :delete %>
